<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Browser Testing Suite" parallel="tests" thread-count="3">

    <!-- Local Execution Test for Chrome -->
    <test name="Local Chrome Test">
        <parameter name="browser" value="chrome" />
        <parameter name="executionMode" value="local" />
        <parameter name="gridUrl" value="" />
        <classes>
            <class name="selenium.azure.DemoTest" />
        </classes>
    </test>

    <!-- Remote Execution Test for Edge -->
    <test name="Remote Edge Test">
        <parameter name="browser" value="edge" />
        <parameter name="executionMode" value="remote" />
        <parameter name="gridUrl" value="http://localhost:4444/wd/hub" />
        <classes>
            <class name="selenium.azure.DemoTest" />
        </classes>
    </test>

</suite>